
<h1>Catalogo Coches Usados</h1>

<section>
    <ul>
        {{#each carList}}
            <figure><img src="{{carImage}}" alt=""></figure>
            <li>Marca: {{carBrand}}</li>
            <li>Modelo: {{carModel}}</li>
            <li>Año: {{modelYear}}</li>
            <li>Precio de Venta: {{sellingPrice}}</li>
            <li>Motor: {{motorType}}</li>
            <form action="/usedCars/delete/{{_id}}" method="GET">
                <input type="submit" value="Borrar">
            </form>
        {{/each}}
    </ul>
</section>